$color-teal: #51ddfc;
$color-white: #fff;
$color-pink: #e4757a;
$color-purple: #927bc1;
$color-color: #777;
$color-primary: #53da87;
$color-lightgreen: #58e1c1;

$btn-colors: (
  'default': #4ac8e4,
  'success': #31d161,
  'error': #b33e43,
  'warning': #da5837,
  'info': #9e87cc,
);



$gutter: 10px;

$break: 768px;

// For media queries
$min-width: 768px;